
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    margin: 0;
    color: #000000;
}
a:hover{
    color: white;
}

.ast{
    font-weight: bold;
    color: red;
}

.view-create-acao{
    height: max-content;
}

/*Spacing vars*/
.spacing-row1{
    margin: 0 12px 0 0;
}
.spacing-row2{
    margin: 0 30px 0 0;
}
.grow{
    flex-grow: 1;
}
/*Bootstrap*/
.row{
    margin: 20px 0 0 0;
}
/*gerais estrutura*/
.form{
    height: 40vh max-content;
    width: 55%;
    padding: 5px;
}
.input-create-box{
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    height: 6vh;
    padding: 0px 0 0 20px;
    max-height: 45px;
}
.tittle-input{
    position: relative;
    bottom: 15px;
    padding: 0 2px;
    height: max-content;
    width: max-content;
    font-size: 14px;
    background-color: white;
    color: #303030;
    font-weight: bold;
}

.select-form{
    border: none;
    text-align: start;
    position: relative;
    bottom: 15px;
}
input{   
    font: 16px;
    margin: 5px 0 0 -15px;
    border: none;
}
.input-nprocesso{
    margin: 5px 0 0 -55px;
}
.n-edital{
    width: max-content;
}
input:focus,.select-form:focus{
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}
.submit{
    background: #009846;
    border: 1px solid #009846;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    color: white;
    margin: 0;
}
input[type="file"]{
    display: none;
}

input[type="date"]{
    margin:0 0 50px 0;
    position: relative;
    bottom: 15px;
}
.cancel{
    background: white;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    border: 0.5px solid #9B979E;
    text-decoration: none;
    color: black;
       
}
.cancel:hover {
    color: black;
}


.boxicon{
    margin: 0 10px;
}
.input-text{
    position: relative;
    bottom: 15px;
    padding: 0 0 0 20px;
}
input:disabled{
    background-color: transparent;
}

.upload-icon{
    width: 22px;
    margin-left: 10px;
    cursor: pointer;
}

select{
    border: transparent;
}


select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*Classes do card de cadastro de usuario*/
.card{
    width: 35%;
}


/*classes dinamicas cadastro de usuario*/

.camporegister_dinamico_show{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.camporegister_dinamico_hide{
    display: none;
}

button {
    background-color: #B02A3D;
    border: none;
    color: white;
    min-width: 100px;
    padding: 3px 16px;
    border-radius: 5px;
    opacity: 0.8;
    transition: all ease-in-out .1s;
}
button:hover{
    opacity: 1;
}
.button {
    background-color: #B02A3D;
    border: none;
    color: white;
    padding: 3px 16px;
    min-width: 100px;
    border-radius: 5px;
    opacity: 0.8;
    transition: all ease-in-out .1s;
}

.button:hover{
    opacity: 1;
}