
* {
    margin: 0;
    padding: 0;
}
.view-create-acao{
    height: 60vh;
}

/*Spacing vars*/
.spacing-row1{
    margin: 0 12px 0 0;
}
.spacing-row2{
    margin: 0 29px 0 0;
}

/*Bootstrap*/
.row{
    margin: 20px 0 0 0;
}
/*gerais estrutura*/
.form{
    height: 40vh;
    width: 55%;
    padding: 5px;
}
.input-create-box{
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    height: 6vh;
    padding: 0px 0 0 20px;
}
.tittle-input{
    position: relative;
    bottom: 15px;
    padding: 0 2px;
    height: max-content;
    font-size: 14px;
    background-color: white;
    color: #303030;
    font-weight: bold;
}

.select-form{
    border: none;
    text-align: start;
    position: relative;
    bottom: 15px;
}
input{   
    font: 16px;
    margin: 5px 0 0 -15px;
    border: none;
}
.input-nprocesso{
    margin: 5px 0 0 -55px;
}
.n-edital{
    width: max-content;
}
input:focus,.select-form:focus{
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}
.submit{
    background: #009846;
    border: 1px solid #009846;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    color: white;
    margin: 0;
}
input[type="file"]{
    display: none;
}
input[type="date"]{
    margin:0 0 50px 0;
    position: relative;
    bottom: 15px;
}
.cancel{
    background: white;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    border: 0.5px solid #9B979E;
    text-decoration: none;
    color: black;
       
}
.cancel:hover {
    color: black;
}


.boxicon{
    margin: 0 10px;
}
.input-text{
    position: relative;
    bottom: 15px;
    padding: 0 0 0 20px;
}
input:disabled{
    background-color: transparent;
}

.upload-icon{
    width: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.border-upload{
    border-style: dashed;
}