@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/*Global em list view*/
*{
    margin: 0;
    padding: 0;   
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}
/*classes*/
.background {
    background-color: #FCFAFA;
}
/*Menu superior*/
.menu-superior{
    color: #212236;
    display: flex;
    height: 20vh;
    border-bottom: 1px solid #79747E;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px 0 49px;
}
.logo{
    font-weight: bold;
    font-size: 55px;                                                                                                   
}
.perfil{
    display: flex;
    align-items: center;
}
.icon{
    width: 20px;
    margin: 0 10px 0 0;
}
.seta{
    width: 10px;
    margin: 0 5px 3px 7px;
}
/*section geral*/
.section-geral{
    display: flex;
    height: 79.8vh;
}

/*Menu lateral*/
.menu-lateral{
    font-size: 16px;
    border:1px solid black;
    flex: 1;
    background-color: #212236;
}
.contentbutton-menu-lateral{
    color: #FFFFFF;
    border-bottom: 0.5px solid rgba(222, 222, 222, 0.5);
    display: flex;
    align-items: center;
}
.button-principal{
    justify-content: flex-start;
    height: 44px;
}
.button-secundario{
    justify-content: center;
    height: 36px;
}
.button{
    margin: 0 10px 0 20px;
}
.button-criar{
    margin: 0 10px 0 -10px ;
}
.button-listar{
    margin: 0 9px 0 0 ;
}

/*lista comp*/
.lista-acoes-geral{
flex: 4;

/*tittle / botao de criar*/
}
.tittle-button-list{
    height: 30%;
    display: flex;
    flex-direction: column;
}
.tittle-container{
    flex: 3;
    margin: 0 auto;
}
.icon-tittle{
    width: 24px;
    margin: 0 17px 0 -20px;
}
.tittle{
    font-weight: 700;
    width: 350px;
    height: 46px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212236;
    color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
}
.button-container{
    flex: 1;
    width: 99.8%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.criar-acao-button{
    font-size: 16px;
    margin: 0 160px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.criar-Acao-mais-icon{
    width: 27px;
    margin: 0 11.5px 0 0;
}

/*lista em si*/
.list-list{
    height: 69%;
    overflow-y: scroll;
    
}
.acao-container{
    margin: 27px auto 0 auto;
    width: 73%;
    height: 146px;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
}

.conteudo-container{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.prazo-acao,.tittle-acao{
    margin: 0 0 0 34px;
}
.prazo-icon{
    margin: 0 12px 0 0;
    width: 18px;
}
.prazo-acao{
    display: flex;
    align-items: center;
}
.status-acao-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
/*status cores*/
.devolvida{
    background-color: #FFD8E4;
}
.aprovada{
    background-color: rgba(42, 105, 246, 0.22);
}
.pendente{
    background-color: #D3D3D3;
}

.data-status,
.hora-status,
.icon-status,
.status-status{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-status,.hora-status{
    font-size: 12px;
    flex: 1;
}

.icon-status{
    flex: 2;
}
.status-status{
    flex: 1;
    font-size: 14px;
    font-weight: bold;
}