
/*GERAL VIEW*/
.view-list-acoes{
    height: 55vh max-content;
}
.list{
    height: 28vh;
    width: 100%;
}
.list::-webkit-scrollbar{
    display: none;
}
.head-table{
    border: 1px solid transparent;
    background: #972E3F;
    color: white;
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
    height: 44px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}
.search-box{
    height: 70px;
}
.input-box{
    border: 0.25px solid rgba(48, 48, 48, 0.3);
    box-sizing: border-box;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
}

.linha-table{
    background: #F2E6E8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    border-left: 1px solid rgba(0, 0, 0, 0.322);
    border-right: 1px solid rgba(0, 0, 0, 0.322);
    height: 60px;
    font-size: 14px;
    color: black;
}
.criar-acao-button{
    width: max-content;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.criar-acao-button:hover{
    color: black;
}

/*SPACING*/
.spacing-col{
    margin: 0 0 0 20px;
}


.titulo-span{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconAdd{
    color: #F2E6E8;
    border: 1px solid white;
    background: #972E3F;
    width: 22px;
}


/*ANALISAR AÇÕES*/

.buttonAnalisar{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 9px 0px;
    border-radius: 5px;
}