*{
    margin: 0;
    padding: 0;
}

/*gerais view index (adm,coordenador,gestor)*/

.box-index{
    padding: 50px 0px 50px 80px;
}
.index-view {
    height:max-content;
    width: 100%;
    min-height: 60vh;
}
.box-opt{       
    width: 150px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 20px 10px 0;
}

.icon-opt{
    width: 50%;
}

.link-opt{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #972E3F;
}
.link-opt:hover{
    color: #972E3F;
}


/*especifico coordenador*/


/*Box infos coordenador*/
.icon-titulo{
    width: 20px;
    margin: 0 10px 0 0;
}
.box-infos{
    border-radius: 10px;
    width: 300px;
    padding-bottom: 5px;
    height: 45% max-content;
    font-weight: bold;
    border: 1px rgba(0, 0, 0, 0.459) solid;
}
.tittle-box{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #972E3F;
    color: white;
}

.square{
    width: 73px;
    height: 53px;
}
.aprovado{
    background-color: #EDFDF3;
}
.analise{
    background-color: #F3F4F8;
}
.devolvido{
    background-color: #FFE3EC;
}

/*index coordenador tem comportamento diferente */

.box-coordenador{
    padding: 50px 0px 50px 80px;
}
.box-contador{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
}





/*responsividade*/
@media (width < 700px) {
    .box-opt{       
        width: 120px;
        height: 138px;
   
    }
    .box-coordenador{
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .box-contador{
        display: flex;
        align-items: flex-end;
        justify-content:center;
    }
}
@media (width < 600px) {
    .box-opt{       
        width: 100px;
        height: 118px;
        font-size: 12px;
    }


}
