
.header-legenda{
    background-color: #972E3F;
    color: white;
    text-align: center;
}

.card-legenda{
    width: max-content;
    position: fixed;
    top: 50%;
    right: 0px;
    max-inline-size: 28%;
}

.container-form-modelo{
    max-inline-size: 70%;

}