a{
    text-decoration: none;
    margin: 0;
}
a:hover{
    color: white;
}

.titulo-view{
    color: #B02A3D;
}

.section-view{
    padding: 0 10px 0 45px;
    height: min-content;
}

/*Button validar certificado*/

.button {
    background-color: #B02A3D;
    border: none;
    color: white;
    padding: 3px 16px;
    min-width: 100px;
    border-radius: 5px;
    opacity: 0.8;
    transition: all ease-in-out .1s;
}

.button:hover{
    opacity: 1;
}

button:hover{
    opacity: 1;
}

.text-justify{
    text-align: justify;
}

/*
quando ler o css do arquivo contato as telas pequenas vao ajustar 
o footer abaixo arquivo contato.css é chamado em telas com pouco 
conteudo
*/
footer{
    position: fixed;
    bottom: 0;
}




