* {
    padding: 0;
    margin: 0;
}

.home-page-container{
    padding: 5vh 0 0 0 ;
    width: 100%;
    height: 57.7vh max-content;
    color: black;
}

.form-homepage{
    width: 60vh;
    padding: 20px 60px;
    height: 100%;
    background-color: #F2E6E8;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-height:500px;
    min-height: max-content;
}

.input-home-form{
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
    height: 40px;
    margin: 0 0 15px 0;
    padding-left: 10px;
}

.input-home-form:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.button-homepage{
    border: 1px solid transparent;
    background: #972E3F;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 40px;
}
.container-text-homeform{
    width: 100%;
}

.text-homepage{
    font-size: 14px;
    text-align: center;
    color: #303030;
}

.esqueceu-senha-link{
    color: #303030;
}

.box-conteudo{
    width: 85vh;
    padding: 40px 60px;
    height: 100%;
    background-color: white;
}

.criar-conta-link{
    color: #B3093F;
    font-weight: bold;
    text-decoration: none;
}

.text-conteudo-homepage{
    font-size: 20px;
    text-align: justify;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

/*Responsividade*/

@media (width < 992px) {
    .Text-conteudo-homepage{
        font-size: 16px;
        width: 100%;
    }
}
@media (width < 768px) {
    .home-page-container{
        flex-direction: column;
    }
    .Text-conteudo-homepage{
        font-size: 14px;
        width: 100%;
    }
}
@media (width < 576px) {
    .form-homepage{
        width: 60vh;
    }
    .Text-conteudo-homepage{
        font-size: 12px;
        width: 75%;
    }
 
}




