@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
}

.header-layout {
    padding: 0 40px;
    height: 70px;
}

.container-clipe{
    width: 44.25px;
    height: 45px;
    background: #FEDA1E;
    border-radius: 10px;
}

.tittle {
    padding: auto 0;
    height: 100%;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
}

.user-box {
    height: 100%;
}

.user-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.icon-user{
    margin: 0 14px;
}
.exit-box{
    height: 100%;
    padding: 4px;
}
