@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
}
html, body {
    min-height: 100%;
}

header {
    border-bottom: 2px solid #972E3F;
    padding: 0px 0;
}

.logo-certifica,.logo-certifica-footer {
    width: 80px;
}

.tag {
    color: #000;
    border-radius: 2rem;
    opacity: 75%;
    border: #FFFFFF;
    box-shadow: #000;
}

.tag-em{
    background: linear-gradient(45deg, rgba(255, 196, 0, 0.628), rgba(225, 255, 0, 0.628));
    border: 1px solid rgba(150, 115, 0, 0.365);
}

.tag-reprovada{
    background: linear-gradient(45deg, rgb(255, 0, 0), rgba(255, 0, 0, 0.592));
    border: 1px solid rgba(139, 0, 0, 0.365);
}

.tag-aprovada{
    background: linear-gradient(45deg, rgba(30, 255, 0, 0.628), rgba(30, 255, 0, 0.359));
    border: 1px solid rgba(16, 134, 0, 0.365);
}


/*menu hamburguer header classes */
.hamburguer-button{
    display: none;
}
.some{
    line-height: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #000;
    height: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;
    
}

.aparece{
    line-height: 1.5;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #000;
    height: 150px;
    visibility: " ";
    transition: .3s all ease-in-out;
}
.box-menu-responsivo{
    text-align: right;
    list-style: none;
    padding: 0 30px 0 0;
}

.menu_responsivo_div{
    display: none;
}

/*Footer CSS*/
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: #972E3F;
    height: 20vh;
}

footer .text-icons {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration-line: none;
}

.logo-ufape{
    width: 60px;
}
.logo-lmts{
    width: 110px;
}
.logo-redes{
    width: 25px;
    margin: 25px 0 0 0;
}

.box-redes{
    padding: 0 0 40px 0;
    height: 100%;
}


/*Responsividade footer*/
@media (width < 992px){
    .logo-ufape{
        width: 50px;
    }
    .logo-lmts{
        width: 100px;
    }
    .logo-redes{
        width: 20px;
        margin: 25px 0 0 0;
    }
}   
@media (width < 768px){
    header {
        padding: 0 0 0 0;
    }

    /*header*/
    .menu_responsivo_div{
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
    }
    .hamburguer-button{
        border: 1px solid;
        width: 30px;
        padding: 4px;
        border-radius: 50%;
        display: block;
    }
    #menu_normal{
        display: none;
    }


    /*footer*/
    .logo-redes{
        width: 65%;
    }
    .logo-redes{
        width: 20px;
        margin: 25px 0 0 0;
    }
}
@media (width < 520px){
    footer {
        font-size: 11px;
    }
    .logo-ufape{
        width: 40px;
    }
    .logo-lmts{
        width: 90px;
    }
    .logo-certifica-footer{
        width: 50px;
    }
    .logo-redes{
        width: 15px;
        margin: 25px 0 0 0;
    }

}