@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
}
html, body {
    min-height: 100%;
}

header {
    border-bottom: 2px solid #972E3F;
}

.logo-certifica,.logo-certifica-footer {
    width: 80px;
}

/*Footer CSS*/
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: #972E3F;
    height: 20vh;
}

footer .text-icons {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration-line: none;
}
.logos{
    background: #EEEEEE;
    width: 110px;
    padding: 10px 16px;
    border-radius: 10px;
}
.logo-redes{
    width: 100%;
    margin: 25px 0 0 0;
}

.box-redes{
    padding: 0 0 40px 0;
    height: 100%;
}


/*Responsividade footer*/
@media (width < 992px){
    .logos{
        width: 80px;
    }
}
@media (width < 768px){
    .logo-redes{
        width: 75%;
    }
    .logos{
        width: 60px;
    }
}
@media (width < 520px){
    footer {
        font-size: 11px;
    }
    .logos{
        width: 50px;
        padding:4px 10px;
    }
    .logo-certifica-footer{
        width: 50px;
    }

}