@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100%;
}

div .border-right{
    border-right-width: thin;
    border-right-color: #FFFFFF;
    border-right-style: solid;
    padding-top: 10%;
}

.home-page-home {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.home-page-welcome-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.home-page-form-grid {
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    /*display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 175px;/*<--Lembrar de deixar dinamico-->*/
    /*height: 450px;/*<--Lembrar de deixar dinamico-->*/


}

.home-page-form-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.home-page-form-submet-button{
    width: 100%;
    height: 46px;
    background: #B3093F;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
}

.form-input-icons{
    align-items: center;
    justify-content: center;
}
.text-input-icons{
    width: 344px;
    height: 48.38px;
    left: 763px;
    top: 292.12px;

    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.input-icon-lock{
    padding-left: 2.2em;
    background: #FFFFFF;
    background-image: url('https://cdn-icons-png.flaticon.com/512/158/158708.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

.input-icon-arroba{
    padding-left: 2.2em;
    background: #FFFFFF;
    background-image: url('https://cdn-icons-png.flaticon.com/512/215/215521.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

.secundary-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    text-decoration-line: underline;
    position: relative;
    left: 110px;

    color: #303030;
}


.form-input-icons-icon{
    float:left;
}

header{
    border-bottom: 1px solid #30303047;
    box-shadow: 1px 1px 1px  #30303047;
}

footer{
    margin-top: 70px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: #B3093F;
}

footer .text-icons {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration-line: none;
}


